@media screen and  (min-width: 768px) {
    body{
        background-image: linear-gradient(60deg, #50606ecb, #0a1825);
    }
    main{
        width: 700px ;
        height: 330px;
    }
    section#imagem{
        float: left;
        width:300px;
        height: 100%;
        margin-right: 20px;
    }
    section#formulario{
        padding: 20px;
       
    }

    .fundo{
       float: left;
       
    }
    .dados{
        width: 290px;
        
    }
    #entrar{
        width: 360px;
    }
    #esquecisenha{
         width: 360px;
    }

}  

@media screen and (min-width: 990px) {
    body{
        background-image: linear-gradient(to bottom, #50606ecb, #0a1825);
    }
    p{
        width: 360px;
    }
    main{
        width: 900px ;
        height: 330px;
    }
    section#formulario{
        transform: translateX(20px);
    }
    section#imagem{
        float: right;
        width:400px;
        width: 50%;
        height: 100%;
        margin-right: 0px;
        margin-left: 20px;
        
        
    }
    
}